/*要把大的父级元素相对于页面居中，再把子级元素相对于父级元素居中*/
body{
    background-color: aliceblue;
}
#boxa{
    display: flex;
    justify-content: center;
    align-items: center; /*项目位置情况？*/
    margin: 10px;
}
#biaoge{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(248, 244, 244);
    width: 800px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
}
table{
    border: 2px solid aquamarine;        /*怎么做到有一些表格带边框另一些不带边框？*/
    border-collapse: collapse;    /*表格崩塌即为取消表格间隙 table跟用class命名的元素不同，对table进行修饰的时候不用加.*/
}
.container{
    border: 2px solid rgba(252, 248, 248, 0);
    display: flex;
    justify-content: center;     /*这里的flex布局和对边框使用margin 0 auto一个都不能少！*/
    align-items: center;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    background-color: #fff;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


.left:hover{
    content: "";
    position: relative;
    border-top:2px solid red; /*字体上部出现横线，还可以用font-size调节字体大小*/
}
.left{
    border-top: 2px solid aliceblue;
    margin: 20px;
}

.center:hover{
    content:"";
    position: relative;
    border-top:2px solid red;
    margin: 20px;
}
.center{
    margin: 20px;
    border-top:2px solid  aliceblue ;       /*悬浮前把border-top的边线颜色改成与背景颜色一致，看起来就像没有边线， hover前后都加上border-top可以避免鼠标放上去的时候文字移动*/
}
.right{
    border: 1px solid red;
    margin: 10px;
    height: 23px;
    width: 220px;
}
.logout{
    padding: 4px,4px;
    background-color:  aquamarine;
    font-size: 20px;
    border: 10px none;
    margin: 20px;
}

.circle{
    border: 2px solid  aquamarine;
    border-radius: 50% ;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px; 
    /* 文字垂直居中时写到和高一样大 text-align: ;是文本水平居中*/
    font-size: 40px;
    margin: 0 auto;   /*先对父级设置宽高，然后给子级margin即可*/
}

.page{
    display: inline-block;  /*哪一级要想在同一排，就在哪一级的内部直接写display:inline-block。这个是行内元素*/
    width: 200px;
    height: 200px;
    
}
li:hover{
    content: "";
    position: relative;          /*应该对每一行文字分别用hover*/
    color: red;
}
.jia{
    margin: 0 auto;
    border: 2px solid aquamarine;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #fff;

}
.h3{
    text-align: center;      /*文本居中直接text-align即可，不像其他盒子模型需要使用flex布局或者float布局*/
}
.h2{
    text-align: center;
}
.h5{
    text-align: center;
    color:greenyellow
}

.nav{
    border: 2px solid rgba(255, 252, 252, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width:800px;
    height:200px;
    margin: 0 auto;
    background-color: #fff;
}
.A{
    border: 2px solid rgba(255, 26, 26, 0.5);
    background-color: rgb(228, 88, 88);
    display: inline-block;
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;                                   /*vertical-align: ;垂直对齐元素设置*/
    margin: 0 auto;             /*为什么这里一定要是0 auto 四个盒子才会分开？*/
    text-align: center;
    
}
.A:hover{
    content: "";
    position: relative;
    background-color: red;
    
    
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.788);
    
}
.number{
    color: red;
    text-decoration: underline;       /*给文字加下划线：text-decoration(文档装饰): underline*/ 
    font-size: 50px;    
}
.text{
    background-color: #fff;
    color: black;
    text-align: center;
    height: 100px;
    width: 140px;
}
.text:hover{
    background-color: aquamarine;
}

